<!DOCTYPE html>
<html lang="en" style = "background-color:#f6f5f3; margin:0;">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>
  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>

  <script src="/socket.io/socket.io.js" defer></script>
  <script src="script.js" defer></script>
  <title>Physician Call</title>
  <style>
    #video-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 450px 30px);
      grid-auto-rows: 450px;
      /* width:600px; */
      width:100%;
    }
    
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .hackVideo{
      width:20%;
      height:0%;
      object-fit:cover;
    }

    body{
      height:100%;
      width:100%;
    }
    .container{

    }
    .intro{
      height:250px;
      width:70%;
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 2fr 2fr .2fr;
    }
    .phrase{
      grid-row:1/span 2;
      grid-column:1/span 3;
      font-size:250%;
    }
    .hthing{
      position:relative;
      font-size:150%;
      color:#bd8c7d;
    }
    #easy{
      position:relative;
    }
  </style>
</head>
<body >

  <div class = "website" style = "width:80%; margin:auto; background-color:#f6f5f3">
    <div class = "intro">
      <h1 class = "phrase"><span style = "font-size:250%;color:#3d3d3f ;">Hi, Sukesh.</span> <span><br></span><span style = "color:#3d3d3f;">Meet your assigned caretaker: Dr.  Bert</span></h1>
      <!-- <h1 class = "phrase2" > <span style = "color:#bd8c7d">How are you today?</span></h1> -->
    </div>
    
      <div style= "display:block;margin:auto;">
        <div id="video-grid"> </div>
      </div>
      <div></div>
      <div id = "easy">
        <h1 class = "hthing"></h1>
      </div>

      <div>
        <button id="startbtn1" >Start Recording</button>
        <button id="stopbtn1" >Stop Recording</button>
    </div>

    <div>
      <select id = "patientLang">
        <option>Swahili</option>
        <option>French</option>
        <option>Hindi</option>
        <option selected>English</option>
    </select>  
    </div>

    <div>
      <button id="langbtn" >Translate into patient's language</button>
  </div>
    <div>
        <a href = "localhost:5000">Go Back to profile.</a>
    </div>

  </div>


  <script>

// 
    // const fs = require('fs')

    // let start = document.getElementById("startbtn1");
    // let transc = document.getElementById("hthing")
    // start.onclick = function(){
    //   var dat;
    //   fs.readFile('/Users/roshanwarman/Downloads/practiceGoogleAPI/output.txt', function (err, data) {
    //     if (err) {
    //        return console.error(err);
    //     }
    //     dat = data.toString();
    //     console.log(dat);
    //  });
    //  transc.innerHTML = dat;
    // }
  </script>
</body>
</html>
