.overall {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
    margin: auto;
}

.web {
    justify-self: center;
    align-self: center;
    width: 100%;
    margin: auto;
}

.monthAndYear {
    position: relative;
    left: 45%;
    margin-bottom: 1rem;
}

.inb {
    display: inline-block;
}

.circle {
    display: inline-block;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    background-color: black;
    color: white;
    text-align: center;
}

.today {
    display: inline-block;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    background-color: red;
    color: white;
    text-align: center;
}

.Calendar {
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    justify-self: center;
    visibility: visible;
}

th {
    vertical-align: middle;
    text-align: center;
    width: 5px;
}

td {
    vertical-align: center;
    text-align: center;
    overflow: hidden;
}

.fal {
    transition: .7s;
}

.fal:hover {
    display: inline-block;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    background-color: transparent;
    transition: .2s;
    color: white;
    text-align: center;
}

.choose {
    /* display: inline-block;
    height: 1.5em;
    width: 1.5em;
    line-height: 1.5em;

    -moz-border-radius: 30px; 
    border-radius: 50%; 

    background-color: black;
    color: white;
    text-align: center; */
}

.table {
    table-layout: fixed;
}


/* .hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    
}
.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
} */

.hvr-radial-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.hvr-radial-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 50%;
}

.hvr-radial-out:hover,
.hvr-radial-out:focus,
.hvr-radial-out:active {
    color: white;
}

.hvr-radial-out:hover:before,
.hvr-radial-out:focus:before,
.hvr-radial-out:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.CAL {
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
    align-self: center;
}

.card {
    display: none;
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
    align-self: center;
}

.remove-btn {
    position: relative;
    left: 25%;
}

.carDDate {
    color: rgb(187, 8, 8);
}


/* .decideHere{
    display: none;
} */

.lastTime {
    position: relative;
}

.oneTimeStamp {
    position: relative;
}

.timesaveButton {
    position: relative;
}