.website-back{
    width : 100%;
    height:100%;
    background-color:#FFFAFA;
}
.container{
    margin: 0 auto;
    width: 85%;
}
.portfolio-wrapper{
    margin-top:3%;
    display:grid;
    margin-bottom: 3%;
}

.portfolio{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-gap: 1em;
    overflow: hidden;

}

.item1{
    position: relative;
    width:100%;
    height:100%;
    grid-row: 1;
    grid-column: 1;
}
.item2{
    position: relative;
    width:100%;
    height : 100%;
    grid-row: 1;
    grid-column: 2;
}
.item3{
    position: relative;
    grid-row : 2;
    grid-column: 1;
}
.item4{
    position: relative;
    grid-row: 2;
    grid-column: 2;

}
.image{
    width : 100%;
    height : 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
    transition: .2s;
}
.image:hover{
    opacity: 10%;
    transition: .2s;
}
.mouse .text{
    position:absolute;
    margin: 5% 0 0 5%;
    visibility: hidden;
    color:#c32323;
}
.title{
    font-size: 2vw;  
    font-family: 'Sen', sans-serif;
}
.message{
    font-size: 1.3vw;
    color:gray;
    font-family: 'Quattrocento', serif;

}
.mouse:hover .text{
    visibility: visible;
}
.diagonal-split-background{
    position:relative;
    background-color: #013A6B;
        background-image: -webkit-linear-gradient(45deg, #2E1114 33.4%, #FFFAFA 33.4%);
    font-family: 'Quattrocento', serif;
    text-align: center;
    color:white;
    font-size: 10vw;
    padding-top:10%;
    padding-bottom:10%;
}
.diagonal-split-background2{
    position:relative;
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(45deg, #FFFAFA 50%,  #501b1d 50%);
    font-family: 'Quattrocento', serif;
    text-align: center;
    color:white;
    font-size: 4vw;
    padding-top:10%; 
    padding-bottom:8.73%; 
    margin-bottom:3%;
}

.africa-container .diagonal-split-background{
    grid-row : 1;
    grid-column: 1/-1;
}
.africa-container .diagonal-split-background2{
    grid-row : 2;
    grid-column: 1/-1;
}
.africa-container{
    display:grid;
    grid-template-rows: 5fr 5fr;
    grid-template-columns: 4fr 2fr 2fr 3fr 6fr;
}


.africa-container .africa-text{
    grid-row:1;
    grid-column: 1;
    font-family: 'Recursive', sans-serif;
    z-index: 10;
    color : white;

}
.africa-container .africa{
    grid-row:1;
    grid-column:4/-1;
    color : black;
    z-index: 10;
    font-family: 'Recursive', sans-serif;
    font-size:350%;
    align-self:center;
    justify-self: center;

}
.africa-container .second-africa-fact{
    grid-row:2;
    grid-column: 1/span 2;
    color: black;
    z-index : 10;
    font-family: 'Recursive', sans-serif;
    font-size:280%;
    justify-self: center;
    align-self: center;
    margin:15px;

}
.africa-container .facts{
    grid-row:1;
    grid-column: 1;
    color: white;
    z-index : 10;
    font-family: 'Recursive', sans-serif;
    font-size:300%;
    align-self:center;
    justify-self: center;
}

.space{
    width : 100%;
    overflow: hidden;
    height: 50em;
    display:grid;
    grid-template-columns: .5fr .5fr .5fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:3fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
    background-image: url("https://images.unsplash.com/photo-1444664361762-afba083a4d77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80");
    background-position:center;
}
.main-front{
    background-position: center;
    position:relative;
}
.background{
    grid-row:1/-1;
    grid-column: 1/-1;
}
.motto{
    font-family: 'Recursive', sans-serif;
    grid-row:2/span 5;
    grid-column: 2/span 8;
    font-size:500%;
    color:white;
}
.space .navbar{
    grid-row:1;
    grid-column: 1/span 10;
}
.motto2{
    font-family: 'Recursive', sans-serif;
    grid-row: 9;
    grid-column:-1;
    font-size:250%;
    color:white;
    z-index: 10;
    justify-self:center;
    align-self:center;
    padding-left:100px;
}
div.newline{
    line-height: .01em;
}
.africa-container .work{
    grid-row: 2;
    grid-column: 5;
    color: white;
    z-index : 10;
    font-family: 'Recursive', sans-serif;
    font-size:300%;
    margin: auto;
    padding-bottom:56px;
    padding-right:80px;
}
.trapezoid {
    border-bottom: 15em solid #501b1d;
    border-left: 13em solid transparent;
    height: 0;
    width: 50em;
    grid-row:9;
    grid-column: 10;
}
.midline{
   align-items:center;
   display: flex;
}
img{
    max-width: 100%;
    max-height: 100%;
}

.navbar-nav a{
    color:white;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;

    text-align: center;
    background-image: -webkit-linear-gradient(45deg, #FFFAFA 50%,  #2E1114 50%);

    color: white;
   
}
.footerT{
    grid-row:2;
    grid-column: 2;
    align-self:center;
    justify-self: center;
    font-family: 'Recursive', sans-serif;
}

.tab1{
    transition: .3s;
}
.tab2{
    transition: .3s;
}
.tab3{
    transition: .3s;
}
.tab4{
    transition: .3s;
}
.navbar-nav .tab3:hover{
   font-size:120%;
    transition: .3s;
    color:blue;
}
.navbar-nav .tab4:hover{
    font-size:120%;
    transition: .3s;
}
.navbar-nav .tab1:hover{
    font-size:120%;
    transition: .3s;
}
.navbar-nav .tab2:hover{
   font-size:120%;
    transition: .3s;
}
.uniqueDoctor{
    
}
