.website-back{
    width : 100%;
    height:100%;
    background-color:#FFFAFA;
    /* background-color: black; */
}
.container{
    margin: 0 auto;
    width: 85%;
}
.portfolio-wrapper{
    margin-top:3%;
    display:grid;
    margin-bottom: 3%;
}

.portfolio{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-gap: 2%;
    overflow: hidden;

}
.mouse{
}
.item1{
    position: relative;
    width:100%;
    height:100%;
    grid-row: 1;
    grid-column: 1;
}
.item2{
    position: relative;
    width:100%;
    height : 100%;
    grid-row: 1;
    grid-column: 2;
}
.item3{
    position: relative;
    /* width : 100%; */
    /* height: 100%; */
    grid-row : 2;
    grid-column: 1;
}
.item4{
    position: relative;
    grid-row: 2;
    grid-column: 2;

}
.image{
    width : 100%;
    height : 100%;
}
.image:hover{
    opacity: 10%;
    transition: .2s;
}
.mouse .text{
    position:absolute;
    margin: 5% 0 0 5%;
    visibility: hidden;
    color:#c32323;
}
.title{
    font-size: 2vw;  
    font-family: 'Sen', sans-serif;
}
.message{
    font-size: 1.3vw;
    color:gray;
    font-family: 'Quattrocento', serif;

}
.mouse:hover .text{
    visibility: visible;
}
.diagonal-split-background{
    position:relative;
    background-color: #013A6B;
        background-image: -webkit-linear-gradient(45deg, #2E1114 33.4%, #FFFAFA 33.4%);
    font-family: 'Quattrocento', serif;
    /* font-style: normal; */
    text-align: center;
    color:white;
    font-size: 10vw;
    padding-top:10%;
    padding-bottom:10%;
}
.diagonal-split-background2{
    position:relative;
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(45deg, #FFFAFA 50%,  #501b1d 50%);
    font-family: 'Quattrocento', serif;
    /* font-style: normal; */
    text-align: center;
    color:white;
    font-size: 4vw;
    padding-top:10%; 
    padding-bottom:8.73%; 
    /* change back to 10% if get rid of <hr> and margin */
    margin-bottom:3%;
}

.africa-container .diagonal-split-background{
    grid-row : 1;
    grid-column: 1/-1;
}
.africa-container .diagonal-split-background2{
    grid-row : 2;
    grid-column: 1/-1;
}
.africa-container{
    display:grid;
    grid-template-rows: 5fr 5fr;
    grid-template-columns: 4fr 2fr 2fr 3fr 6fr;
}


.africa-container .africa-text{
    grid-row:1;
    grid-column: 1;
    font-family: 'Recursive', sans-serif;
    z-index: 10;
    color : white;

}
.africa-container .africa{
    grid-row:1;
    grid-column:4/-1;
    color : black;
    z-index: 10;
    font-family: 'Recursive', sans-serif;
    font-size:350%;
    align-self:center;
    justify-self: center;

}
.africa-container .second-africa-fact{
    grid-row:2;
    grid-column: 1/span 2;
    color: black;
    z-index : 10;
    font-family: 'Recursive', sans-serif;
    font-size:280%;
    justify-self: center;
    align-self: center;

}
.africa-container .facts{
    grid-row:1;
    grid-column: 1;
    color: white;
    z-index : 10;
    font-family: 'Recursive', sans-serif;
    font-size:300%;
    align-self:center;
    justify-self: center;
}

.space{
    width : 100%;
    overflow: hidden;
    height: 100%;
    display:grid;
    grid-template-columns: .5fr .5fr .5fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
    background-image: url("https://images.unsplash.com/photo-1444664361762-afba083a4d77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80");
    /* opacity: 80%; */
    background-position:center;
   
}
.main-front{
 

    background-position: center;
    position:relative;
}
.background{
    grid-row:1/-1;
    grid-column: 1/-1;
}
.motto{
    font-family: 'Recursive', sans-serif;
    grid-row:1/span 5;
    grid-column: 2/span 8;
    font-size:500%;
    color:white;
}
.motto2{
    font-family: 'Recursive', sans-serif;
    grid-row: 9;
    grid-column:-1;
    font-size:250%;
    color:white;
    z-index: 10;
    justify-self:center;
    align-self:center;
}
div.newline{
    line-height: .01em;
}
.africa-container .work{
    grid-row: 2;
    grid-column: 5;
    color: white;
    z-index : 10;
    font-family: 'Recursive', sans-serif;
    font-size:300%;
    margin: auto;
}
.trapezoid {
    border-bottom: 15em solid #501b1d;
    border-left: 13em solid transparent;
    /* border-right: 25px solid transparent; */
    height: 0;
    width: 50em;
    grid-row:9;
    grid-column: 10;
}
.row {
    background-color: #501b1d;
    padding-right: 2%;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li {
    display: inline-block;
}

.main-nav li a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: sans-serif;
}

.main-nav li.active a {
  border: 2px solid white;
}

.main-nav li a:hover {
  border: 2px solid white;
}

.mainNav li.active a {
    border: 2px solid white;
}

.mainNav li a:hover {
    border: 2px solid white;
}

.mainNav {
  float: right;
  list-style: none;
  margin-top: 30px;
}

.mainNav li {
  display: inline-block;
}

.mainNav li a {
  color: #336B6B;
  text-decoration: none;
  padding: 5px 20px;
  font-family: sans-serif;
}

.mainNav li.active a {
  border: 2px solid #336B6B;
}

.mainNav li a:hover {
  border: 2px solid #336B6B;
}

