<!DOCTYPE html>
<html>
<head>
<style>
	.homeButton {
  position: relative;
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 8px;
  font-size: 20px;
  border: none;
}
/*a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}*/
</style>
</head>
<body>


<!-- Localhost:5000/doctorLand2.html -->
<form class = "homeButton" action = "Localhost:5000/userLanding.html">
	<input class="homeButton" type = "submit" value="Go Back Home">
</form>
 
</body>
</html>