{% extends "layout.html" %}

{% block importCssAndOtherLinks %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}">
     <script type="text/javascript">
        var dataDict = JSON.parse('{{data|safe}}');
        console.log(dataDict);
    </script>
{% endblock %}

{% block main %}
<body>
    <br><br>
    <div class = overall>
        <div class = "CAL">
            <div class = "web">
                <div class = "monthAndYear">
                    <select id="months" onchange="monthc()">
                        <option value="Jan">Jan</option>
                        <option value="Feb">Feb</option>
                        <option value="Mar">Mar</option>
                        <option value="Apr">Apr</option>
                        <option value="May">May</option>
                        <option value="Jun">Jun</option>
                        <option value="Jul">Jul</option>
                        <option value="Aug">Aug</option>
                        <option value="Sep">Sep</option>
                        <option value="Oct">Oct</option>
                        <option value="Nov">Nov</option>
                        <option value="Dec">Dec</option>
                    </select>
                    <select id="years" onchange="yearc()">
                        <option>2020</option>
                        <option>2021</option>
                        <option>2022</option>
                        <option>2023</option>
                        <option>2024</option>
                        <option>2025</option>
                        <option>2026</option>
                        <option>2027</option>
                        <option>2028</option>
                        <option>2029</option>
                        <option>2030</option>
                        <option>2031</option>
                    </select>
                </div>
                <table class = "Calendar table">
                    <tr>
                        <th onclick = "speak(this.innerHTML)">Sun</th>
                        <th onclick = "speak(this.innerHTML)">Mon</th>
                        <th onclick = "speak(this.innerHTML)">Tue</th>
                        <th onclick = "speak(this.innerHTML)">Wed</th>
                        <th onclick = "speak(this.innerHTML)">Thu</th>
                        <th onclick = "speak(this.innerHTML)">Fri</th>
                        <th onclick = "speak(this.innerHTML)">Sat</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card decideHere" style="margin-left: 3rem; width: 22rem; text-align: center">
            <div class="card-body">
              <h5 class="card-title">What Times Work on <span class = "carDDate"></span>?</h5>
              <select style="text-align: center" id = "times" class = "oneTimeStamp lastTime">
                  <option selected>Select Time</option>
              </select>
                <br>
                <br>
              <button style="display: inline" class="btn btn-outline-success" onclick = newTimes()>Add Times</button>
              <button style="display: inline"  class = "timesaveButton btn btn-outline-primary" onclick = saveTime()>Save Times</button>
              <br>
              <br>
              <button style="display: block" class="remove-btn btn btn-outline-danger" onclick = unClickDateSelected()>Remove<span class = "carDDate"></span></button>
            </div>
<!--             <form style="text-align: center; margin: 2% 20%;" method="POST" action="/scheduleUser">
                <button type="submit" class="btn btn-info">Schedule Appointment</button>
            </form>
 -->        </div>

    </div>
    <script>
            //Variable that actually performs the text to speech
                var synth = window.speechSynthesis;
                
                //If we want a form or input of text to be converted to speech
                //Used this for initial coding tests; keep for future debugging
                //var inputForm = document.querySelector('form');
                //var inputTxt = document.querySelector('.txt');
                
                //var voiceSelect = document.querySelector('select');
                
                //var pitch = document.querySelector('#pitch');
                var pitchValue = 1 //Subject to change
                //var rate = document.querySelector('#rate');
                var rateValue = 0.8 //Subject to change
                
                var voices = [];
                
                function populateVoiceList()
                {
                voices = synth.getVoices().sort(function (a, b)
                {
                    const aname = a.name.toUpperCase(), bname = b.name.toUpperCase();
                    if ( aname < bname ) return -1;
                    else if ( aname == bname ) return 0;
                    else return +1;
                    //Was for internal purposes of alphabetizing voices
                }
                );
                
                //Additional functionality of having a choice of the different voices (accents) if needed
                
                //var selectedIndex = voiceSelect.selectedIndex < 0 ? 0 : voiceSelect.selectedIndex;
                //voiceSelect.innerHTML = '';
                // for(i = 0; i < voices.length ; i++) {
                //   var option = document.createElement('option');
                //   option.textContent = voices[i].name + ' (' + voices[i].lang + ')';
                    
                //   if(voices[i].default) {
                //     option.textContent += ' -- DEFAULT';
                //   }
                
                //   option.setAttribute('data-lang', voices[i].lang);
                //   option.setAttribute('data-name', voices[i].name);
                //   voiceSelect.appendChild(option);
                // }
                // voiceSelect.selectedIndex = selectedIndex;
                }
                
                populateVoiceList();
                if (speechSynthesis.onvoiceschanged !== undefined)
                {
                speechSynthesis.onvoiceschanged = populateVoiceList;
                }
                
                function speak(elmt){
                    if (synth.speaking)
                    {
                        console.error('speechSynthesis.speaking');
                        return;
                    }
                    if (elmt !== '')
                    {
                    //Just calling this var utterance b/c of the class name lmao
                    var utterance = new SpeechSynthesisUtterance(elmt);
                    utterance.onend = function (event)
                    {
                        console.log('SpeechSynthesisUtterance.onend');
                    }
                    utterance.onerror = function (event)
                    {
                        console.error('SpeechSynthesisUtterance.onerror');
                    }
                    //Removed this line afterward since we are sticking with one fixed voice
                    //var selectedOption = voiceSelect.selectedOptions[0].getAttribute('data-name');
                    for(i = 0; i < voices.length ; i++)
                    {
                    if(voices[i].name === "Google US English")
                    {
                        utterance.voice = voices[i];
                        break;
                    }
                    }
                    utterance.pitch = pitchValue;
                    //Setting the rate to fixed at 0.85 so people less comfortable with English can hear but it isn't too slow
                    utterance.rate = rateValue;
                    synth.speak(utterance);
                    //document.write(selectedOption)
                    //document.write(inputTxt.value)
                }
                }
                
                // inputForm.onsubmit = function(event) {
                //   event.preventDefault();
                
                //   speak();
                
                //   inputTxt.blur();
                // }
                //For if we want to give them the option of pitch/rate
                // pitch.onchange = function() {
                //   pitchValue.textContent = pitch.value;
                // }
                
                // rate.onchange = function() {
                //   rateValue.textContent = rate.value;
                // }
                //For aforementioned functionality of choosing voice/accent
                // voiceSelect.onchange = function(){
                //   speak();
                // }
            </script>
    <script type="text/javascript">
        let days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
        let months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
        let years = [2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031];
        let optionlist = [];

        daysInMonth={"Jan":31, "Feb":28, "Mar":31, "Apr":30, "May":31, "Jun":30, "Jul":31, "Aug":31, "Sep":30, "Oct":31, "Nov":30, "Dec":31 }
        dayStart={"Sun":0, "Mon":1, "Tue":2, "Wed":3, "Thu":4, "Fri":5, "Sat":6 }


        let day = new Date()
        let month;
        let year;
        let doctorDays = [];
        let ghettoTarget;
        let SelectedDates = new Map();
        let timesSelected = [];

        document.addEventListener("timeStampsForCard", function(){
            let chooseTimes = document.getElementById("times");
            hours = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]
            minutes = ["00",30]
            let hlen = hours.length;
            let mlen = minutes.length;
            for(let i = 0; i < hlen; i++){
                for(let j = 0; j < mlen; j++){
                    let opt = document.createElement("option");

                    if(j < mlen -1){
                        opt.innerHTML = `${hours[i]}:${minutes[j]} — ${hours[i]}:${minutes[(j+1)%mlen]}`;
                    }else if(j == mlen - 1 && i < hlen -1){
                        opt.innerHTML = `${hours[i]}:${minutes[j]} — ${hours[i+1]}:${minutes[(j+1)%mlen]}`;
                    }else{
                        opt.innerHTML = "23:30 —— 0:00";
                    }
                    chooseTimes.appendChild(opt);
                }
            }
        });


        document.addEventListener("CalendarDateClicked", function(e){
            const specific = ghettoTarget;
            let cardDate = `${month} ${specific.innerHTML}`;

            let date = document.getElementsByClassName("carDDate");
            let dlen = date.length;
            for(let i = 0; i < dlen; i++){
                date[i].innerHTML = cardDate;
            }
            let actualCard = document.querySelector(".decideHere");
            if(ghettoTarget.getAttribute("data-savedTime") == 1 && ghettoTarget.getAttribute("data-clicked") == 0){

                let event = new Event("TimeSaved");
                document.dispatchEvent(event);
                actualCard.style.display = "block";
                ghettoTarget.setAttribute("data-clicked", 1);

            }else if(ghettoTarget.getAttribute("data-savedTime") == 1 && ghettoTarget.getAttribute("data-clicked") == 1){
                let event = new Event("TimeSaved");
                document.dispatchEvent(event);
                ghettoTarget.setAttribute("data-clicked", 0);

            }else if(ghettoTarget.getAttribute("data-clicked") == 1 && ghettoTarget.getAttribute("data-savedTime") == 0){

                actualCard.style.display = "none";
                ghettoTarget.setAttribute("data-cardClicked", 0);
                ghettoTarget.setAttribute("data-clicked", 0);
                ghettoTarget.classList.remove("circle");
                SelectedDates.delete(cardDate);

            }else{
                actualCard.style.display = "block";
                ghettoTarget.setAttribute("data-cardClicked", 1);
                ghettoTarget.setAttribute("data-clicked", 1);
                ghettoTarget.classList.add("circle");
                let event = new Event("TimeNotSaved");
                document.dispatchEvent(event);
            }

            doctorDays = [];

            let selected = document.getElementsByClassName("circle")
            let len = selected.length;
            for(var i = 0; i < len;i++ ){
                if(selected[i] == ghettoTarget){
                }
                if(selected[i] != ghettoTarget && selected[i].getAttribute("data-savedTime") == 0){
                    selected[i].setAttribute("data-clicked", 0);
                    selected[i].setAttribute("data-cardClicked", 0);
                    selected[i].classList.remove("circle");
                }
            }            
        });

        document.addEventListener("TimeSaved", function(){
            let calDate =  `${month}. ${ghettoTarget.innerHTML}`;
            $.post( "/storeCalendarData", {
                javascript_data: JSON.stringify({month: `${month}`, date:`${ghettoTarget.innerHTML}` , time:SelectedDates.get(calDate), year: `${year}`})
            });
        });

        document.addEventListener("w", function(){
            ghettoTarget.setAttribute("data-clicked", 0);
            ghettoTarget.classList.remove("circle");

        })

        document.addEventListener("w", function(){
            console.log(SelectedDates)
            let calDate =  `${month}. ${ghettoTarget.innerHTML}, ${year}`;
            $.post( "/deleteCalendarData", {
                javascript_data: JSON.stringify({date:calDate})
            });
        });

        document.addEventListener("newTimeSelected", function(){
            console.log("newTime")
            let last = document.querySelector(".lastTime");
            let newT = document.createElement("select");
            let defaul = document.createElement("option");
            defaul.innerHTML = "Select Time"
            defaul.selected = true;
            newT.appendChild(defaul);
            hours = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]
            minutes = ["00",30]
            let hlen = hours.length;
            let mlen = minutes.length;
            for(let i = 0; i < hlen; i++){
                for(let j = 0; j < mlen; j++){
                    let opt = document.createElement("option");

                    if(j < mlen -1){
                        opt.innerHTML = `${hours[i]}:${minutes[j]} — ${hours[i]}:${minutes[(j+1)%mlen]}`;
                    }else if(j == mlen - 1 && i < hlen -1){
                        opt.innerHTML = `${hours[i]}:${minutes[j]} — ${hours[i+1]}:${minutes[(j+1)%mlen]}`;
                    }else{
                        opt.innerHTML = "23:30 —— 0:00";
                    }
                    newT.appendChild(opt);
                }
            }

            last.classList.remove("lastTime");
            newT.classList.add("lastTime");
            newT.classList.add("oneTimeStamp");
            last.parentNode.insertBefore(newT, last.nextSibling);

        });

        document.addEventListener("TimeSaved", function(){
            ghettoTarget.setAttribute("data-savedTime", 1);
            let cardDate = `${month}. ${ghettoTarget.innerHTML}`;
            let cBody = document.querySelector("div.card-body");
            cBody.innerHTML = "";
            let timesOnThisDate = SelectedDates.get(cardDate);
            let tlen = timesOnThisDate.length;
            let instruction = document.createElement("h5");
            instruction.classList.add("card-title")
            instruction.innerHTML = `Your selected times on ${cardDate}:`;
            cBody.appendChild(instruction);
            for(let i = 0; i < tlen; i++){
                let list = document.createElement("div");
                list.classList.add("card-text");
                list.innerHTML = timesOnThisDate[i];
                // console.log(list.innerHTML);
                cBody.appendChild(list);
            }

            let deleteButton = document.createElement("BUTTON");
            deleteButton.classList.add("card-text", "btn", "btn-outline-danger");
            deleteButton.innerHTML = `Delete ${cardDate}`
            cBody.appendChild(deleteButton);
            deleteButton.onclick = function(){unClickDateSelected()};
        })

        document.addEventListener("TimeNotSaved", function(){
           
            ghettoTarget.setAttribute("data-savedTime", 0);
            let cBody = document.querySelector("div.card-body");
            let cardDate = `${month}. ${ghettoTarget.innerHTML}`;
            // cBody.innerHTML = "";
            cBody.innerHTML= ` <h5 class="card-title">What Times Work on <span class = "carDDate">${cardDate}</span>?</h5>
            <select style="text-align: center" id = "times" class = "oneTimeStamp lastTime">
                <option selected>Select Time</option>
            </select>
            <br>
            <br>
            <button style="display: inline" class="btn btn-outline-success"  onclick = newTimes()>Add Times</button>
            <button style="display: inline" class="btn btn-outline-primary"  onclick = saveTime()>Save Times</button>
            <br>
            <br>
            <button style="display: block" class="remove-btn btn btn-outline-danger" onclick = unClickDateSelected()>Remove ${cardDate}</button>`;

            let event = new Event("timeStampsForCard");
            document.dispatchEvent(event);

        });

        


        document.addEventListener("DOMContentLoaded", function(){
            year = day.getFullYear(); 
            month = months[day.getMonth()];
            document.getElementById("months").selectedIndex = day.getMonth();
            document.getElementById("years")
            let f = new Date();
            buildCalendar(f.getMonth(), f.getFullYear());
            let x = document.getElementsByClassName("fal");

            var dateVar, timeVar, monthVar, yearVar;
            console.log(dataDict);
            try {
                for(i = 0; i < dataDict.length; i++) {
                    dateVar = dataDict[i].Date;
                    //var yearVar = dateVar[i].substring(dateVar.length -4, dateVar.length);
                    console.log(year)
                    timeVar = dataDict[i].Time;
                    monthVar = dataDict[i].Month;
                    yearVar = dataDict[i].Year;
                    if(monthVar == f.getMonth() && yearVar == f.getFullYear()){
                        x[dateVar-1].click();
                        timesSelected = timeVar;
                        saveTime2();
                    }
                } 
            }
            catch {
                console.log("no data");
            }
        })


        let tbl = document.querySelector(".Calendar");

        function buildCalendar(monthCal, year){
            tbl.innerHTML = " <tr><th>Sun</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th></tr>";
            let f= new Date();
            let todayDay = f.getDate();
            let todayMonth = f.getMonth();
            let todayYear = f.getFullYear();
          
            month = months[monthCal];

            let arr = [];
            let dayR = parseInt(daysInMonth[months[monthCal]])
            // return dayR;
            let nD = new Date(year, monthCal, 1);
            let dayNum = parseInt(nD.getDay());
            // console.log(dayNum);
            let n = 1;
            let dates = 1;
            console.log(dayR)
            for(let i = 0; i < 6; i++){
                let rw  = document.createElement("tr");
                for(let j = 0; j < 7;j++){
                    let t = 0
                    let index = i*7 + j;

                    let dat = document.createElement("td");
                    let sp = document.createElement("span");
                    sp.setAttribute("data-day", dates);
                    sp.setAttribute("data-clicked", 0);
                    sp.setAttribute("data-cardClicked", 0)
                    sp.setAttribute("data-savedTime", 0);
                    sp.style.lineHeight = 2;
                    if(index < dayNum){
                        sp.innerHTML = "";
                        rw.appendChild(dat);
                        continue;
                    }
                    if(index < dayR+dayNum){
                        sp.innerHTML =  dates;
                        if(dates == todayDay && todayMonth == monthCal && todayYear == year){
                            sp.classList.add("today");
                        }
                        dates++;
                        sp.classList.add("fal");
                        sp.classList.add("hvr-radial-out");

                        sp.onclick = function(){  
                            const event = new Event("CalendarDateClicked");
                            ghettoTarget = sp;
                            document.dispatchEvent(event);
                        }
                    }else{
                        sp.innerHTML = "";
                    }
                    dat.appendChild(sp);
                    rw.appendChild(dat);
                    
                }
                tbl.appendChild(rw);
            }
            let x = document.getElementsByClassName("fal");

            var dateVar, timeVar, monthVar, yearVar;
            console.log(dataDict);
            try {
                for(i = 0; i < dataDict.length; i++) {
                    dateVar = dataDict[i].Date;
                    //var yearVar = dateVar[i].substring(dateVar.length -4, dateVar.length);
                    timeVar = dataDict[i].Time;
                    monthVar = dataDict[i].Month;
                    yearVar = dataDict[i].Year;
                    if(monthVar == months[monthCal] && yearVar == year){
                        x[dateVar-1].click();
                        timesSelected = timeVar;
                        saveTime2();
                    }
                    else {
                        console.log("bro")
                    }
                    
                } 
}
catch {
    console.log("no data");
}

        }


        function monthc(){
            let choices = document.getElementById("months");
            let choices1 = document.getElementById("years");
            year = years[choices1.selectedIndex];
            monthE = choices.selectedIndex;
            buildCalendar(monthE, year)
            month = months[monthE];
        }

        function yearc(){
            let choices = document.getElementById("months");
            let choices1 = document.getElementById("years");
            year = years[choices1.selectedIndex];
            monthE = choices.selectedIndex;
            buildCalendar(monthE, year)
            month = months[monthE];
        }



        function newTimes(){
            let event = new Event("newTimeSelected");
            document.dispatchEvent(event);
        }

        function saveTime(){
            timesSelected = [];
            let event = new Event("TimeSaved");
            let allTimes = document.getElementsByClassName("oneTimeStamp");
            let tlen = allTimes.length;
            for(let i = 0; i < tlen; i++){
                timesSelected.push(allTimes[i].options[allTimes[i].selectedIndex].value);
            }
            const specific = ghettoTarget;
            let cardDate = `${month}. ${specific.innerHTML}`;
          
            SelectedDates.set(cardDate, timesSelected);
            document.dispatchEvent(event);

        }

        function saveTime2(){

            let event = new Event("TimeSaved");
            const specific = ghettoTarget;
            let cardDate = `${month}. ${specific.innerHTML}`;
          
            SelectedDates.set(cardDate, timesSelected);
            document.dispatchEvent(event);
        }

        function whichIndex(arr, value){
            let len  = arr.length;
            for(let i = 0; i < len; i++){
                if(arr[i] == value){
                    return i;
                }
            }
            return -1;
        }
        function unClickDateSelected(){
            const specific = ghettoTarget;
            let cardDate = `${month}. ${specific.innerHTML}`;
            console.log("gettin called")
            SelectedDates.delete(cardDate);
            ghettoTarget.setAttribute("data-savedTime", 0);
            ghettoTarget.setAttribute("data-clicked", 1);
            let event = new Event("CalendarDateClicked");
            document.dispatchEvent(event);

            let weird = new Event("w");
            document.dispatchEvent(weird);
        }

    </script>
</body>
{% endblock %}

