<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/chatDoctor.css') }}">

      <script>
      $(document).ready(function(){
        $("#myInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#filterID *").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
      </script>

   </head>
   <body style="padding: 2%">
      <h1 style="text-align: center">Messaging</h1>
      <br>
      <br>
      <div class="row">
      <div class="col-3 chat">
         <div class="card mb-sm-3 mb-md-0 contacts_card">
            <div class="card-header">
               <div class="input-group">
                  <input id="myInput" type="text" placeholder="Search..." name="" class="form-control search">
                  <div class="input-group-prepend">
                     <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                  </div>
               </div>
            </div>
            <div class="card-body contacts_body">
               <ui class="contacts">
                  <li id="filterID" class="active">
                     <div class="d-flex bd-highlight">
                        <div class="img_cont">
                           <img src="https://d.newsweek.com/en/full/997973/doctor-stock.jpg?w=1600&h=1200&q=88&f=416fa20ae7724e1e3d2b3f6e7c76c02e" class="rounded-circle user_img" class="rounded-circle user_img">
                           <span class="online_icon offline"></span>
                        </div>
                        <div class="user_info">
                           <span onclick="window.location='/chat';">Dr. Lisa Bert</span>
                           <p>Dr. Bert left 7 mins ago</p>
                        </div>
                     </div>
                  </li>
               <li id="filterID">
                     <div class="d-flex bd-highlight">
                        <div class="img_cont">
                           <img src="https://cdn.sanity.io/images/0vv8moc6/hcplive/0ebb6a8f0c2850697532805d09d4ff10e838a74b-200x200.jpg?auto=format" class="rounded-circle user_img">
                           <span class="online_icon"></span>
                        </div>
                        <div class="user_info">
                           <span>Dr. Ronald Shiller</span>
                           <p>Dr. Shiller is online</p>
                        </div>
                     </div>
                  </li>
               </ui>
            </div>
            <div class="card-footer"></div>
         </div>
      </div>
      <div class="col-9 chat">
         <div class="card">
            <div class="card-header msg_head">
               <div class="d-flex bd-highlight">
                  <div class="img_cont">
                     <img src="https://d.newsweek.com/en/full/997973/doctor-stock.jpg?w=1600&h=1200&q=88&f=416fa20ae7724e1e3d2b3f6e7c76c02e" class="rounded-circle user_img">
                     <span class="online_icon"></span>
                  </div>
                  <div class="user_info">
                     <span>Chat with Dr. Bert</span>
                     <p>physician</p>
                  </div>
                  <div class="video_cam">
                     <span><i class="fas fa-video"></i></span>
                     <span><i class="fas fa-phone"></i></span>
                  </div>
               </div>
               <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
               <div class="action_menu">
                  <ul>
                     <li><i class="fas fa-user-circle"></i> View profile</li>
                     <li><i class="fas fa-users"></i> Add to close friends</li>
                     <li><i class="fas fa-plus"></i> Add to group</li>
                     <li><i class="fas fa-ban"></i> Block</li>
                  </ul>
               </div>
            </div>
            <div id="chatDiv" style="overflow-y: auto; padding: 0 1%">
               {% for msg in msgDict %}
               <div class="card-body msg_card_body">
                  {% if msg.Type == "doctor" %}
                  <div class="d-flex justify-content-start mb-4">
                     <div class="img_cont_msg">
                        <img src="https://d.newsweek.com/en/full/997973/doctor-stock.jpg?w=1600&h=1200&q=88&f=416fa20ae7724e1e3d2b3f6e7c76c02e" class="rounded-circle user_img_msg">
                     </div>
                     <div class="msg_cotainer">
                        {{ msg.Chat }}
                        <span class="msg_time" style="width: max-content">{{ msg.Time }}</span>
                     </div>
                  </div>
                  {% else %}
                  <div class="d-flex justify-content-end mb-4">
                     <div class="msg_cotainer_send">
                        {{ msg.Chat }}
                        <span class="msg_time_send" style="width: max-content">{{ msg.Time }}</span>
                     </div>
                     <div class="img_cont_msg">
                        <img src="https://img.etimg.com/thumb/width-640,height-480,imgsize-105371,resizemode-1,msid-50475116/markets/stocks/news/one-only-needs-common-sense-to-make-money-in-stock-market-porinju-veliyath-equity-intelligence.jpg" class="rounded-circle user_img_msg">
                     </div>
                  </div>
                  {% endif%}
               </div>
               {% endfor %}
            </div>
            <div class="card-footer">
               <form action="/sendMessageUser" method="POST" class="input-group">
                  <input name="chatMsg" type="text" id="chatMsg" class="form-control type_msg" placeholder="Type your message..."></input>
                  <div class="input-group-append">
                     <button type="submit" class="input-group-text send_btn"><i class="fas fa-location-arrow" method="POST"></i></button>
                  </div>
               </form>
            </div>
         </div>
      </div>
      </div>
      </div>
      </div>
      <script>
         var objDiv = document.getElementById("chatDiv");
         objDiv.scrollTop = objDiv.scrollHeight;
         
         $(document).ready(function(){
         $('#action_menu_btn').click(function(){
         $('.action_menu').toggle();
         });
         });
      </script>
   </body>
</html>