{% extends "layout.html" %}

{% block importCssAndOtherLinks %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/userLand.css') }}">
{% endblock %}

{% block main %}
      <div class="page-wrapper chiller-theme toggled">
         <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
         <i class="fas fa-bars"></i>
         </a>
         <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
               <div class="sidebar-brand">
                  <a class = "navbar-brand " style= "color:white;font-size:1.3rem;font-family: 'Schoolbell', cursive;" href = "#"> <span style = "color:green">Hack</span><span style = "color:rgb(248, 206, 18)">ForAf</span><span style = "color:red">rica</span></a>
               </div>
               <div style="padding-top: 10%" class="sidebar-header">
                  <div style="text-align: center" class="user-pic">
                     <img  class="img-responsive img-rounded" src="https://d.newsweek.com/en/full/997973/doctor-stock.jpg?w=1600&h=1200&q=88&f=416fa20ae7724e1e3d2b3f6e7c76c02e">
                  </div>
                  <div class="user-info">
                     <span style="color: black; font-size: 2rem; text-align: center" class="user-name">
                        <strong>{{nameVar}}</strong>
                     </span>
                     <span style="font-size: 1rem; text-align: center" class="user-status">
                        <span>Doctor</span>
                     </span>
                  </div>
               </div>
               <!-- sidebar-search  -->
               <div class="sidebar-menu">
                  <ul>
                     <li class="header-menu">
                        <div style="text-align: center"><span>Medical Profile</span></div>
                     </li>
                     <li class="sidebar-dropdown">
                        <a href="#">
                           <i class="fas fa-id-card"></i>
                           <span>Background</span>
                        </a>
                        <div class="sidebar-submenu">
                           <ul>
                              <li><a>Medical School: Harvard </a></li>
                              <li><a>Employeer: AdventHealth</a></li>
                              <li><a>Years of Experience: 25+ </a></li>
                           </ul>
                        </div>
                     </li>
                     <li class="sidebar-dropdown">
                        <a href="#">
                           <i class="fas fa-users"></i>
                           <span>Previous Patients</span>
                        </a>
                        <div class="sidebar-submenu">
                           <ul>
                              <li><a href="#">Shivani Doshi</a></li>
                              <li><a href="#">Rohan Sharma</a></li>
                              <li><a href="#">Surtaz Khan</a></li>
                           </ul>
                        </div>
                     </li>
                     <li class="sidebar-dropdown">
                        <a href="#">
                           <i class="fas fa-clipboard"></i>
                           <span>Expertise</span>
                        </a>
                        <div class="sidebar-submenu">
                           <ul>
                              <li><a href="#">Internal Medicine </a></li>
                              <li><a href="#">Cardiology </a></li>
                           </ul>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
         <!-- sidebar-wrapper  -->
         <main class="page-content">
            <div class="container-fluid" style="padding-left: 10%; padding-top: 5%">
               <section id="calendar" style="text-align: center">
                  <h1 onclick="speak(this.innerHTML)">Upcoming Appointments</h1>
                  <div class="container">
                     <div class="row">
                        <div style="width:90%">
                           <ul class="event-list">
                              <li >
                                 <time>
                                 <span class="day">7</span>
                                 <span class="month">Sep</span>
                                 </time>
                                 <div class="info" style="text-align: center">
                                    <h2 class="title">Sick Visit</h2>
                                    <br>
                                    <p class="desc">Sukesh Ram ● 9:00 EST</p>
                                    <br>
                                    <ul>
                                       <a href="http://localhost:3000"><li style="width:33%;">Join <span class="fa fa-video-camera"></span></li></a>
                                       <li onclick="window.location='/chatDoctor/Sukesh Ram';" style="width:34%;">Message Patient <span class="fa fa-comment"></span></li>
                                       <li style="width:33%;">Cancel <span class="fa fa-trash-o"></span></li>
                                    </ul>
                                 </div>
                              </li>
                                 <li >
                                    <time>
                                    <span class="day">8</span>
                                    <span class="month">Sep</span>
                                    </time>
                                    <div class="info" style="text-align: center">
                                       <h2 class="title">Sick Visit</h2>
                                       <br>
                                       <p class="desc">Ashwin Agnihotri ● 8:00 EST</p>
                                       <ul>
                                          <a href="http://localhost:3000"><li style="width:33%;">Join <span class="fa fa-video-camera"></span></li></a>
                                          <li onclick="window.location='/chatDoctor/Ashwin Agnihotri';" style="width:34%;">Message Patient <span class="fa fa-comment"></span></li>
                                          <li style="width:33%;">Cancel <span class="fa fa-trash-o"></span></li>
                                       </ul>
                                    </div>
                                 </li>
                              <li >
                                 <time>
                                 <span class="day">9</span>
                                 <span class="month">Sep</span>
                                 </time>
                                 <div class="info" style="text-align: center">
                                    <h2 class="title">Sick Visit</h2>
                                    <br>
                                    <p class="desc">Roshan Warman ● 10:00 EST</p>
                                    <br>
                                    <ul>
                                       <a href="http://localhost:3000"><li style="width:33%;">Join <span class="fa fa-video-camera"></span></li></a>
                                       <li onclick="window.location='/chatDoctor/Roshan Warman';" style="width:34%;">Message Patient <span class="fa fa-comment"></span></li>
                                       <li style="width:33%;">Cancel <span class="fa fa-trash-o"></span></li>
                                    </ul>
                                 </div>
                              </li>
                              {% if not dayVar == "empty" %}
                                 <li >
                                    <time>
                                    <span class="day">{{dayVar}}</span>
                                    <span class="month">{{monthVar}}</span>
                                    </time>
                                    <div class="info" style="text-align: center">
                                       <h2 class="title">Sick Visit</h2>
                                       <br>
                                       <p class="desc">{{userNameVar}} ● {{timeVar}} EST</p>
                                       <ul>
                                          <a href="http://localhost:3000"><li style="width:33%;">Join <span class="fa fa-video-camera"></span></li></a>
                                          <li onclick="window.location='/chatDoctor/{{userNameVar}}';" style="width:34%;">Message Doctor <span class="fa fa-comment"></span></li>
                                          <li style="width:33%;">Cancel <span class="fa fa-trash-o"></span></li>
                                       </ul>
                                    </div>
                                 </li>
                              {% endif %}
                           </ul>
                        </div>
                     </div>
                  </div>
               </section>
            </div>
         </main>
         <!-- page-content" -->
      </div>
      <!-- page-wrapper -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script>
         jQuery(function ($) {
         $(".sidebar-dropdown > a").click(function() {
         $(".sidebar-submenu").slideUp(200);
         if (
         $(this)
         .parent()
         .hasClass("active")
         ) {
         $(".sidebar-dropdown").removeClass("active");
         $(this)
         .parent()
         .removeClass("active");
         } else {
         $(".sidebar-dropdown").removeClass("active");
         $(this)
         .next(".sidebar-submenu")
         .slideDown(200);
         $(this)
         .parent()
         .addClass("active");
         }
         });
         $("#close-sidebar").click(function() {
         $(".page-wrapper").removeClass("toggled");
         });
         $("#show-sidebar").click(function() {
         $(".page-wrapper").addClass("toggled");
         });
         });
      </script>
      <script>
            //Variable that actually performs the text to speech
                var synth = window.speechSynthesis;
                
                //If we want a form or input of text to be converted to speech
                //Used this for initial coding tests; keep for future debugging
                //var inputForm = document.querySelector('form');
                //var inputTxt = document.querySelector('.txt');
                
                //var voiceSelect = document.querySelector('select');
                
                //var pitch = document.querySelector('#pitch');
                var pitchValue = 1 //Subject to change
                //var rate = document.querySelector('#rate');
                var rateValue = 0.8 //Subject to change
                
                var voices = [];
                
                function populateVoiceList()
                {
                voices = synth.getVoices().sort(function (a, b)
                {
                    const aname = a.name.toUpperCase(), bname = b.name.toUpperCase();
                    if ( aname < bname ) return -1;
                    else if ( aname == bname ) return 0;
                    else return +1;
                    //Was for internal purposes of alphabetizing voices
                }
                );
                
                //Additional functionality of having a choice of the different voices (accents) if needed
                
                //var selectedIndex = voiceSelect.selectedIndex < 0 ? 0 : voiceSelect.selectedIndex;
                //voiceSelect.innerHTML = '';
                // for(i = 0; i < voices.length ; i++) {
                //   var option = document.createElement('option');
                //   option.textContent = voices[i].name + ' (' + voices[i].lang + ')';
                    
                //   if(voices[i].default) {
                //     option.textContent += ' -- DEFAULT';
                //   }
                
                //   option.setAttribute('data-lang', voices[i].lang);
                //   option.setAttribute('data-name', voices[i].name);
                //   voiceSelect.appendChild(option);
                // }
                // voiceSelect.selectedIndex = selectedIndex;
                }
                
                populateVoiceList();
                if (speechSynthesis.onvoiceschanged !== undefined)
                {
                speechSynthesis.onvoiceschanged = populateVoiceList;
                }
                
                function speak(elmt){
                    if (synth.speaking)
                    {
                        console.error('speechSynthesis.speaking');
                        return;
                    }
                    if (elmt !== '')
                    {
                    //Just calling this var utterance b/c of the class name lmao
                    var utterance = new SpeechSynthesisUtterance(elmt);
                    utterance.onend = function (event)
                    {
                        console.log('SpeechSynthesisUtterance.onend');
                    }
                    utterance.onerror = function (event)
                    {
                        console.error('SpeechSynthesisUtterance.onerror');
                    }
                    //Removed this line afterward since we are sticking with one fixed voice
                    //var selectedOption = voiceSelect.selectedOptions[0].getAttribute('data-name');
                    for(i = 0; i < voices.length ; i++)
                    {
                    if(voices[i].name === "Google US English")
                    {
                        utterance.voice = voices[i];
                        break;
                    }
                    }
                    utterance.pitch = pitchValue;
                    //Setting the rate to fixed at 0.85 so people less comfortable with English can hear but it isn't too slow
                    utterance.rate = rateValue;
                    synth.speak(utterance);
                    //document.write(selectedOption)
                    //document.write(inputTxt.value)
                }
                }
                
                // inputForm.onsubmit = function(event) {
                //   event.preventDefault();
                
                //   speak();
                
                //   inputTxt.blur();
                // }
                //For if we want to give them the option of pitch/rate
                // pitch.onchange = function() {
                //   pitchValue.textContent = pitch.value;
                // }
                
                // rate.onchange = function() {
                //   rateValue.textContent = rate.value;
                // }
                //For aforementioned functionality of choosing voice/accent
                // voiceSelect.onchange = function(){
                //   speak();
                // }
            </script>
{% endblock %}
