<!DOCTYPE html>

<html lang="en">
	<head>
		<title>HackForAfrica</title>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/doctorsPortal.css') }}">
	</head>
	<body>
	<header id="initialDoctorPageHeader">
		<a href="#MissionHeader"><input class="downButton" type="image" src="https://cdn1.iconfinder.com/data/icons/arrows-14/24/Arrow-Down_in_Circle-512.png"/></a>

<!-- 		<p> Thank You </p>
 -->	</header>
	<header id="MissionHeader">
		<p> Thank You </p>
	</header>
	<header id="PickerHeader">
		<p> Thank You </p>
	</header>
	<header id="TableHeader">
		<br>
		<h1><span class="blue"></span>Schedule<span class="blue"></span> <span class="white">Portal</pan></h1>
		<table class="container">
			<div class="tbl-header">
				<thead>
					<tr>
						<th><h1>Patient Name</h1></th>
						<th><h1>Symptoms</h1></th>
						<th><h1>AI Diagnosis</h1></th>
						<th><h1>Patient Question</h1></th>
						<th><h1>Apt. Date</h1></th>
						<th><h1>Webex Link</h1></th>
					</tr>
				</thead>
			</div>
			<div class="tbl-content">
				<tbody>
					<tr>
						<td>Rajat</td>
						<td>Headache</td>
						<td>Migraine</td>
						<td>What medicine do I take?</td>
						<td>Aug 10th @ 4pm EST</td>
						<td>link</td>
					</tr>
					<tr>
						<td>Roshan</td>
						<td>Temperature, Lack of Taste</td>
						<td>Covid-19</td>
						<td>Should I go to the hospital?</td>
						<td>Aug 10th @ 5pm EST</td>
						<td>link</td>
					</tr>
					<tr>
						<td>Roshan</td>
						<td>Temperature, Lack of Taste</td>
						<td>Covid-19</td>
						<td>Should I go to the hospital?</td>
						<td>Aug 10th @ 5pm EST</td>
						<td>link</td>
					</tr>
					<tr>
						<td>Roshan</td>
						<td>Temperature, Lack of Taste</td>
						<td>Covid-19</td>
						<td>Should I go to the hospital?</td>
						<td>Aug 10th @ 5pm EST</td>
						<td>link</td>
					</tr>
					<tr>
						<td>Roshan</td>
						<td>Temperature, Lack of Taste</td>
						<td>Covid-19</td>
						<td>Should I go to the hospital?</td>
						<td>Aug 10th @ 5pm EST</td>
						<td>link</td>
					</tr>
					<tr>
						<td>Roshan</td>
						<td>Temperature, Lack of Taste</td>
						<td>Covid-19</td>
						<td>Should I go to the hospital?</td>
						<td>Aug 10th @ 5pm EST</td>
						<td>link</td>
					</tr>
				</tbody>
			</div>
		</table>
	</header>


	</body>
</html>
