{% extends "layout.html" %}

{% block importCssAndOtherLinks %}
		<link rel="stylesheet" href="{{ url_for('static', filename='css/doctorsPortal.css') }}">
{% endblock %}

{% block main %}
	<header id="TableHeader">	
		<br>
		<h1><span class="blue"></span>Schedule<span class="blue"></span> <span class="white">Portal</pan></h1>
		<table class="container">
			<div class="tbl-header">
				<thead>
					<tr>
						<th><h1>Patient Name</h1></th>
						<th><h1>Symptoms</h1></th>
						<th><h1>AI Diagnosis</h1></th>
						<th><h1>Apt. Date</h1></th>
						<th><h1 href = "localhost:3000">Zoom Link</h1></th>
					</tr>
				</thead>
			</div>
			<div class="tbl-content">
				<tbody>
					{% for task in tasks %}
					<tr>
					  <td onclick="window.location='/chatDoctor/{{ task.Name }}';">{{ task.Name }}</td>
                      <td onclick="window.location='{{ task.SymptomsLink }}';">{{ task.Symptoms }}</td> 
                      <td onclick="window.location='{{ task.DiagnosisLink }}';">{{ task.Diagnosis }}</td>
                      <td>{{ task.Date }}</td>
                      <td onclick="window.location='{{ task.Link }}';">{{ task.Link }}</td>
                	</tr>
                	{% endfor %}
				</tbody>
			</div>
		</table>
	</header>
	<script src="../speech_synthesis.js"></script>
{% endblock %}
