<!DOCTYPE html>

<html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sen&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Recursive&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap" rel="stylesheet">
    <meta name = "viewport" content="width = device-width, initial-scale = 1">
    <link rel = "stylesheet" type = "text/css" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/land.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">

</head>

<body>
    <div class="row">
        <ul class="main-nav">
          <li class="active"><a href="/"> Home </a></li>
          <li><a href="/askQuestions"> Ask Medical Question </a></li>
          <li><a href="/schedule"> Schedule Consultation </a></li>
          <li><a href="/answerQuestions"> Volunteer </a></li>
          {% if signInStatus == "Sign Out" %}
            <li><a href="/signOut"> Sign Out </a></li>
          {% else %}
            <button id="signInButtonNav" onclick="document.getElementById('id01').style.display='block'" class="SignInButtonDoctor">Sign In</button>
          {% endif %}
        </ul>
    </div>

    <div class = "website-back">
        <div class = "space">
            <h1 class = "motto">Connecting <span style= "color :white">Doctors</span> Who Serve To <span style= "color :white">Patients</span> In Need.<div class = "newline"> <br></div>
            <span style = "font-size:50%"> <span style= "color :rgb(187, 8, 8)">Malaria</span> Does Not Know Boundaries. </span> </h1>
            <div class = trapezoid></div>
            <h1 class = motto2>So Why Should <span style= "color :rgb(187, 8, 8)">Medicine?</span></h1>
        </div>
        <hr>
        <div class = "africa-container">
            <div class = diagonal-split-background></div>
            <div class = diagonal-split-background2></div>
            <h1 class = "africa">Africa has 25% of the world's diseased and 2% of the world's doctors.</h1>
            <!-- <h1 class = "africa-text">FACTS:</h2> -->
            <h1 class = "second-africa-fact">17% of the world has less than 1% of the global health expenditure. This is Africa.</h1>
            <h1 class = "work">Let's get to work.</h1>
            <h1 class = "facts">The facts:</h1>
            
        </div>
        <hr>

        <div class = "container">
            <br>
            <div class="portfolio-wrapper">
                <div class = "portfolio">
                    <div class = "item1 mouse">
                        <div class ="text">
                            <div class = "title">
                                Doctors
                            </div>
                            <br>
                            <div class = "message">
                                We need you to help sick patients Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi dolorum nemo, dolorem cumque nesciunt autem iure nam porro, pariatur minima accusamus nostrum reprehenderit ducimus voluptatem voluptatum aut minus quas doloribus iste, ut amet earum aliquam. Nesciunt aliquid reprehenderit repellat fugiat?.
                            </div>
                        </div>
                        <img class = "image" src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-PEZhiIbtjZ2ibk1jlUqF8dJvFn_Ym6apZe5f_XNTOOaCArOH&s">
                    </div>
                    <div class  = "item2 mouse">
                        <div class ="text">
                            <div class = "title">
                                Our Triage System
                            </div>
                            <br>
                            <div class = "message">
                                We need you to help sick patients Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi dolorum nemo, dolorem cumque nesciunt autem iure nam porro, pariatur minima accusamus nostrum reprehenderit ducimus voluptatem voluptatum aut minus quas doloribus iste, ut amet earum aliquam. Nesciunt aliquid reprehenderit repellat fugiat?.
                            </div>
                        </div>
                        <img class = "image" src = "https://ionemadamenoire.files.wordpress.com/2020/04/1585945942334.jpg?w=640">
                    </div>
                    <div class = "item3 mouse">
                        <div class ="text">
                            <div class = "title">
                                Join the Discussion
                            </div>
                            <br>
                            <div class = "message">
                                We need you to help sick patients Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi dolorum nemo, dolorem cumque nesciunt autem iure nam porro, pariatur minima accusamus nostrum reprehenderit ducimus voluptatem voluptatum aut minus quas doloribus iste, ut amet earum aliquam. Nesciunt aliquid reprehenderit repellat fugiat?.
                            </div>
                        </div>
                        <img class = "image" src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdSmJxJBeTc7RZRj4kL0eVwBoKOOGHeBIGMJ_N82H5m0cCocBn&s">
                    </div>
                    <div class = "item4 mouse">
                        <div class ="text">
                            <div class = "title">
                                How We Help & Mission: A telemedicine approach
                            </div>
                            <br>
                            <div class = "message">
                                We need you to help sick patients Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi dolorum nemo, dolorem cumque nesciunt autem iure nam porro, pariatur minima accusamus nostrum reprehenderit ducimus voluptatem voluptatum aut minus quas doloribus iste, ut amet earum aliquam. Nesciunt aliquid reprehenderit repellat fugiat?.
                            </div>
                        </div>
                        <img class = "image" src = "https://media.istockphoto.com/photos/xhosa-woman-infront-of-shelter-picture-id182043277?k=6&m=182043277&s=612x612&w=0&h=DIxn2w31lBdfnY7W4D8jffAN1U1m5k7kj4kdF1YGXUo=">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <div id="id01" class="modal">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <form class="modal-content" action="/signIn" method="POST">
          <div class="containerModal">
          <div class="titleModalSignUp">
              <h1>Log In</h1>
          </div>
          <hr>
          <label for="email"><b>Email</b></label>
          <input id="modal_input" type="text" placeholder="Enter Email" name="email" required>

          <label for="psw"><b>Password</b></label>
          <input id="modal_input" type="password" placeholder="Enter Password" name="psw" required>
          
          <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
          </label>

          <div class="clearfix">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            <button type="submit" class="signupbtn">Sign In</button>
          </div>
        </div>
        <div class="container signin">
            <p>Create an account? <a href="/signUp">Sign Up</a>.</p>
        </div>
      </form>
    </div>

    <script>
        var modal = document.getElementById('id01');
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
    </script>


</body>


</html>