<!DOCTYPE html>

<html>
    <head>
        <!-- <script src = "../speech_synthesis.js"></script> -->
        <link href="https://fonts.googleapis.com/css2?family=Quattrocento&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Sen&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Recursive&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap" rel="stylesheet">
        <meta name = "viewport" content="width = device-width, initial-scale = 1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/land.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/signIn.css') }}">


        <style>
            .xout:hover, .xout:focus{
                cursor:pointer;
            }
            .xout{
                width:100%;
                text-align:right;
                z-index :10;
                font-size: 28px;

            }
            *,
            *:after,
            *:before {
                box-sizing: border-box;
                position: relative;
             }
             ::placeholder{
                 font-family:"Recursive", "sans-serif";
             }
             .field::placeholder{
                 color:rgb(187, 8, 8);
             }
            .password-copy::placeholder{
                color:rgb(187, 8, 8);
            }
            .password-input {
                background-color: white;
                color: rgb(187, 8, 8);
                padding: 1.25em;
                border-radius: 8px;
                position: relative;
                overflow: hidden;
    
                width: 350px;
                max-width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .password-copy{
                background-color: white;
                /* color: #fff; */
                padding: 1.25em;
                border-radius: 8px;
                position: relative;
                overflow: hidden;
    
                width: 350px;
                max-width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
    
            .password-input .field {
                appearance: none;
                border: none;
                letter-spacing: 1px;
                flex-grow: 1;
                background-color: transparent;
                padding: 0 0.25em;
                font-size: 24px;
                line-height: 1;
                margin: 0 0.25em;
                color: rgb(187, 8, 8);
                z-index: 2;
    
                width: 100px; /** weird bug, needed to specify width on this **/
            }
    
            .lockIcon {
                width: 1.5em;
                height: auto;
            }
    
            [data-status="revealed"] .lockIcon {
                fill: #111624;
            }
    
            [data-status="hidden"] .eye--open {
                visibility: hidden;
            }
    
            [data-status="revealed"] .eye--closed {
                visibility: hidden;
            }
    
            .eyes {
                text-align: center;
                color: white;
                width: 1.5em;
                position: relative;
            }
            .eyes:hover{
                cursor:pointer;
            }
    
                [data-status="revealed"] .eyes:after {
                transform: translateY(-50%) scale(30);
                }

    
            .eye {
                width: 100%;
                height: auto;
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                transform: translateY(-50%);
                }
    
            .eyes:after {
                content: "";
                position: absolute;
                width: 1.5em;
                height: 1.5em;
                top: 0;
                left: 0;
                right: 0;
                display: block;
                margin: 0 auto;
                background-color: rgb(187, 8, 8);
                bottom: 0;
                transform: translateY(-50%) scale(1.2);
                transition: 0.4s all ease;
                border-radius: 99999px;
                }
    
            svg {
                transition: .3s ease fill .1s;
                fill: currentcolor;
                z-index: 2;
                }
            input[type="text"], textarea {

                background-color : #d1d1d1; 
            }
            .signupbtn:hover{
                background-color:rgb(187, 8, 8);
                color:white;
                transition: .2s;
            }
            .signupbtn{
                transition:.2s;
                border: rgb(187, 8, 8) solid 2px; 
                /* width :75%; */
            }
            
            .cancelbtn{
                transition:.2s;
                /* width :75%; */
                border: rgb(187, 8, 8) solid 2px; 

            }
            .cancelbtn:hover{
                background-color:rgb(187, 8, 8);
                color:white;
                transition: .2s;
            }

            
    
        </style>
    </head>

    <body>
        <div class = "website-back">
            <div class = "space">
                <nav class="navbar navbar-expand-lg navbar-light " style="background-color:transparent; padding:0;margin:0">
                    <a href="/" class="navbar-brand text-info" style= "margin-left:2%;color:white;font-size:3rem; font-family: 'Baloo Tamma 2'">TellusDoc</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
                            </li>
                          </ul>
                            <ul class="navbar-nav ">
                                {% if acctType == "User" %}
                                    <li class="nav-item">
                                        <a class="nav-link tab3" style = "color:rgb(187, 8, 8); font-family: 'Recursive', sans-serif;" href="/diagnose">Diagnose Disease</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link tab1" style = "color:rgb(187, 8, 8); font-family: 'Recursive', sans-serif;" href="/schedule">Schedule Appointment</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link tab1" style = "color:rgb(187, 8, 8); font-family: 'Recursive', sans-serif;" href="/chat">Message Doctors</a>
                                    </li>
                                {% elif acctType == "Doctor"%}
                                    <li class="nav-item">
                                        <a class="nav-link tab2" style = "color:rgb(187, 8, 8); font-family: 'Recursive', sans-serif;" href="/doctorPortal">Doctors Portal</a>
                                    </li>
                                {% endif%}
                                {% if signInStatus == "Sign Out" %}
                                    <a class="nav-link tab3" style = "color:rgb(187, 8, 8); font-family: 'Recursive', sans-serif;" href="/signOut">Sign Out</a>
                                {% else %}
                                       <button id="signInButtonNav" onclick="document.getElementById('id01').style.display='block'" style = "font-size: 100%; color:white; font-family: 'Recursive', sans-serif;" class="SignInButtonDoctor">Sign In</button>
                                {% endif %}   
                                <li class="nav-item">
                                        <a class="nav-link tab2" style = "color:rgb(187, 8, 8); font-family: 'Recursive', sans-serif;" href="/doctorPortal">  </a>
                                    </li> 
                                <div class="nav-item" style="display:block;margin:auto">
                                    <select id = "diffLang" onchange = "changeLang(this)" style="background-color: transparent;font-size: 100%; color:white; text-align:bottom;font-family: 'Recursive', sans-serif;">
                                        <option selected>French</option>
                                        <option>Swahili</option>
                                        <option>English</option>
                                    </select>  
                                </div>                            
                             
                                
                            </ul>
                        </div>                    
                </nav>
                    
                <h1 class = "motto">Connecter <span class = "uniqueDoctor" style= "color :white">Les Médecins</span> Qui Servent <span style= "color :white">Les Patients</span> Dans Le Besoin.<div class = "newline"> <br></div>
                 

                <span style = "font-size:50%"> <span style= "color :rgb(187, 8, 8)">La Maladie</span> Ne Connaît Pas De Frontières </span> </h1>
                <div class = trapezoid></div>

                <h1 class = motto2>Alors Pourquoi <span style= "color :rgb(187, 8, 8)">La Médecine</span> </h1>
            </div>
            <br>
            <br>

            <div class = "africa-container">
                <div class = diagonal-split-background></div>
                <div class = diagonal-split-background2></div>
                <h1 onclick = "speak(this.innerHTML)" class = "africa">L'Afrique compte 25% des malades du monde et 2% des médecins du monde.</h1>
                <h1 onclick = "speak(this.innerHTML)" class = "second-africa-fact">17% du monde a moins de 1% des dépenses mondiales de santé.</h1>
                <h1 onclick = "speak(this.innerHTML)" class = "work">Mettons-nous au travail.</h1>
                <h1 onclick = "speak(this.innerHTML)" class = "facts">Les faits:</h1>
            </div>

            <div class = "container">
                <br>
                <div class="portfolio-wrapper">
                    <div class = "portfolio">
                        <div class = "item1 mouse">
                            <div class ="text">
                                <div class = "title">
                                    Médecins
                                </div>
                                <br>
                                <div onclick = "speak(this.innerHTML)" class = "message">
                                    Médecins: nous avons besoin de votre aide pour lutter contre la crise actuelle en Afrique. Vous avez vu les statistiques. Les patients malades du monde entier ne peuvent pas obtenir la couverture dont ils ont besoin, en particulier pendant une pandémie mondiale. Grâce à l'aide de médecins comme vous du monde entier, nous pouvons venir en aide à ceux qui souffrent de cette pénurie de médecins à l'échelle du continent.
                                </div>
                            </div>
                            <img class = "image" src = "https://assets.weforum.org/article/image/DgeR-s4ifm6WrbnQ61V_IyuWBnZsSjX4KKswOyHdvvQ.jpeg">
                        </div>
                        <div class  = "item2 mouse">
                            <div class ="text">
                                <div class = "title">
                                    Notre Système De Triage
                                </div>
                                <br>
                                <div onclick = "speak(this.innerHTML)" class = "message">
                                    Nous veillons à ce que les patients qui ont besoin des soins les plus urgents soient jumelés aux médecins qui peuvent le mieux les aider grâce à notre système de triage à la pointe de la technologie sur cette plate-forme tout-en-un. En intégrant à la fois une classification de gravité, via notre diagnostic préliminaire d'IA, et un système de correspondance spécialisé, nous rendons cela possible.
                                </div>
                            </div>
                            <img class = "image" src = "https://ionemadamenoire.files.wordpress.com/2020/04/1585945942334.jpg?w=640">
                        </div>
                        <div class = "item3 mouse">
                            <div class ="text">
                                <div class = "title">
                                    Rejoignez La Discussion
                                </div>
                                <br>
                                <div onclick = "speak(this.innerHTML)" class = "message">
                                    Ce n'est un secret pour personne que COVID-19 a eu un impact sur le monde dans son ensemble, impactant la façon dont nous abordons la médecine. Peu importe d'où vous lisez ceci, il y a de fortes chances que vous connaissiez un patient ayant un accès limité aux soins de santé ou un médecin agréé qui peut fournir les services dont tant de gens ont désespérément besoin. Aidez-nous à diffuser notre message et à améliorer notre plateforme.
                                </div>
                            </div>
                            <img class = "image" src = "https://cdn-wordpress-info.futurelearn.com/info/wp-content/uploads/FL__Partner_blog_-_COVID-19_in_Africa.jpg">
                        </div>
                        <div class = "item4 mouse">
                            <div class ="text">
                                <div class = "title">
                                   Comment Nous Aidons Et Notre Mission: Une approche de télémédecine
                                </div>
                                <br>
                                <div onclick = "speak(this.innerHTML)" class = "message">
                                    À l'ère moderne de la télémédecine, il est vital que les services fournis par tant de médecins dans le monde puissent être fournis par ceux qui en ont besoin. Nous fournissons une plate-forme autonome pour l'ensemble de ce processus. Cela comprend l'évaluation de l'état clinique du patient, sa planification avec un spécialiste approprié et la fourniture d'une interface vidéo et de message.
                                </div>
                            </div>
                            <img class = "image" src = "https://media.istockphoto.com/photos/xhosa-woman-infront-of-shelter-picture-id182043277?k=6&m=182043277&s=612x612&w=0&h=DIxn2w31lBdfnY7W4D8jffAN1U1m5k7kj4kdF1YGXUo=">
                        </div>

                    </div>
                </div>
            </div>
        <div>
        <br>
        <br>
        <br>
        </div>
        <footer style = "height:9em;background-color:#2E1114">
            <p class = "footerT"><a href = "https://github.com/ashwin0030"style = "text-decoration:none;color:green">Ashwin Agnihotri</a> <span style = "color:black">|</span>  <a href = "https://github.com/RajatDoshi"style = "text-decoration:none; color:rgb(248, 206, 18)">Rajat Doshi</a>  |  <a href = "https://github.com/Roshanwarman" style = "text-decoration:none;color:red">Roshan Warman</a><br>
        </footer>
        </div>

        <!-- <script src="../speech_synthesis.js"></script> -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


        <div id="id01" class="modal" style = "z-index:30; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4);">

          <form class="modal-content" action="/signIn" method="POST" style = "background-color:white;border:transparent; margin:auto; ">

              <div class="containerModal" style = "background-color:white;">
                 <div onclick="document.getElementById('id01').style.display='none'" class = "xout" style = "color:rgb(187, 8, 8);float: right;" title="Close Modal">&times;</div>

                <div class="titleModalSignUp">
                    <h1 style = "color:rgb(187, 8, 8);font-family: Recursive, sans-serif;">Se Connecter</h1>
                </div>
                <hr>
                <label for="email"style = "color:rgb(187, 8, 8);font-family: Recursive, sans-serif;"><b>Email</b></label>

                <input class = "password-copy" style = "background-color:white;color:rgb(187, 8, 8);font-size:24px;height:3em;display:block;text-align:center;margin:auto;width:350px"id="modal_input" type="text" class = "field" placeholder="Entrez Votre E-mail" name="email" required>

              <label for="psw"style = "color:rgb(187, 8, 8);font-family: Recursive, sans-serif;"><b>Mot de passe
</b></label>
              <div class="password-input" style = "margin:auto"data-status="hidden">
                <!--   Lock Icon -->
                <svg class="lockIcon" style= "visibility:hidden" viewBox="0 0 401.998 401.998">
                    <path d="M357.45,190.721c-5.331-5.33-11.8-7.993-19.417-7.993h-9.131v-54.821c0-35.022-12.559-65.093-37.685-90.218   C266.093,12.563,236.025,0,200.998,0c-35.026,0-65.1,12.563-90.222,37.688C85.65,62.814,73.091,92.884,73.091,127.907v54.821   h-9.135c-7.611,0-14.084,2.663-19.414,7.993c-5.33,5.326-7.994,11.799-7.994,19.417V374.59c0,7.611,2.665,14.086,7.994,19.417   c5.33,5.325,11.803,7.991,19.414,7.991H338.04c7.617,0,14.085-2.663,19.417-7.991c5.325-5.331,7.994-11.806,7.994-19.417V210.135   C365.455,202.523,362.782,196.051,357.45,190.721z M274.087,182.728H127.909v-54.821c0-20.175,7.139-37.402,21.414-51.675   c14.277-14.275,31.501-21.411,51.678-21.411c20.179,0,37.399,7.135,51.677,21.411c14.271,14.272,21.409,31.5,21.409,51.675V182.728   z"/>
                </svg>
            
                <input type="password" class="field" style = "color:rgb(187, 8, 8);text-align:center;background-color:transparent" data-shown = 0 placeholder="Mot de passe" name = "psw"></input>
            
                <!--   Eye Icons -->
                <div class="eyes">
                    <svg class="eye eye--closed"
                    viewBox="0 0 137.218 137.218">
                            <path d="M128.942,77.41l0.87-0.574c1.693-1.171,2.091-3.483,0.919-5.165c-1.182-1.697-3.507-2.08-5.165-0.925
                                c-58.011,40.558-100.239,1.996-102.013,0.339c-1.497-1.401-3.856-1.33-5.25,0.158c-1.401,1.494-1.333,3.831,0.149,5.237
                                c0.08,0.076,1.401,1.285,3.812,3.074l-7.431,12.255c-1.06,1.748-0.504,4.03,1.245,5.099c0.598,0.36,1.277,0.541,1.934,0.541
                                c1.249,0,2.465-0.635,3.172-1.778l7.266-11.973c4.074,2.48,9.298,5.188,15.522,7.476l-3.581,11.972
                                c-0.593,1.971,0.516,4.027,2.475,4.613l1.068,0.158c1.583,0,3.063-1.04,3.545-2.649l3.546-11.808
                                c5.745,1.571,12.172,2.632,19.108,2.884v11.858c0,2.052,1.657,3.709,3.709,3.709c2.05,0,3.708-1.657,3.708-3.709V96.278
                                c6.052-0.332,12.466-1.373,19.163-3.283l4.565,12.038c0.569,1.483,1.979,2.391,3.468,2.391l1.312-0.234
                                c1.915-0.728,2.886-2.867,2.158-4.781l-4.445-11.729c6.098-2.265,12.401-5.247,18.911-9.203l6.009,8.021
                                c0.732,0.969,1.849,1.489,2.965,1.489c0.778,0,1.555-0.236,2.222-0.745c1.644-1.23,1.976-3.555,0.752-5.192L128.942,77.41z"/>
                            <!-- <path d="M136.987,48.4c0,0-1.479-2.148-4.603-5.015c-1.527-1.513-3.53-3.037-5.871-4.802c-2.385-1.587-5.093-3.469-8.23-5.062
                                c-3.128-1.658-6.599-3.242-10.384-4.539c-3.76-1.483-7.901-2.353-12.215-3.136c-4.334-0.545-8.909-0.646-13.521-0.443
                                c-4.628,0.391-9.254,0.396-13.917,0.962c-4.636,0.389-9.247,0.812-13.746,1.705c-2.253,0.392-4.487,0.706-6.662,1.188
                                c-2.157,0.594-4.294,1.182-6.39,1.759c-4.196,1.043-8.15,2.381-11.799,3.951c-3.687,1.406-7.106,2.823-10.102,4.539
                                c-3.032,1.601-5.811,2.969-8.2,4.342c-2.273,1.551-4.269,2.897-5.911,4.005c-3.201,2.241-5.031,3.524-5.031,3.524L0,52.647
                                c0.186,0.588,0.818,0.897,1.412,0.7l0.119-0.044c0,0,2.073-0.706,5.72-1.945c1.784-0.625,3.962-1.389,6.446-2.268
                                c2.526-0.722,5.451-1.357,8.557-2.131c3.064-0.884,6.511-1.406,10.148-1.847c1.781-0.259,3.619-0.539,5.501-0.817
                                c1.9-0.203,3.856-0.252,5.812-0.395c1.966-0.123,3.95-0.245,5.96-0.369c2.023,0.011,4.074,0.028,6.13,0.047
                                c4.083-0.121,8.264,0.236,12.413,0.6c8.292,0.582,16.336,3.31,23.89,4.571c7.588,1.261,14.882,1.614,21.316,1.967
                                c6.457,0.184,12.017,0.307,16.094,0.107c4.057-0.147,6.55-0.399,6.55-0.399l0.612-0.235
                                C137.249,49.79,137.393,48.989,136.987,48.4z"/> -->
                    </svg>
                    
                    <svg class="eye eye--open" viewBox="0 0 932.15 932.15" style="enable-background:new 0 0 932.15 932.15;">
                    <g>
                        <path d="M466.075,161.525c-205.6,0-382.8,121.2-464.2,296.1c-2.5,5.3-2.5,11.5,0,16.9c81.4,174.899,258.601,296.1,464.2,296.1
                            s382.8-121.2,464.2-296.1c2.5-5.3,2.5-11.5,0-16.9C848.875,282.725,671.675,161.525,466.075,161.525z M466.075,676.226
                            c-116.1,0-210.1-94.101-210.1-210.101c0-116.1,94.1-210.1,210.1-210.1c116.1,0,210.1,94.1,210.1,210.1
                            S582.075,676.226,466.075,676.226z"/>
                        <circle cx="466.075" cy="466.025" r="134.5"/>
                    </svg>
                </div>
              </div>
              <!-- <input id="modal_input" type="password" placeholder="Enter Password" name="psw" required> -->
              
              <label style = "color:rgb(187, 8, 8);font-family: Recursive, sans-serif;">
                <input type="checkbox" checked="checked" name="remember" style=";margin-bottom:15px"> Souviens-toi de moi
              </label>

              <div class="clearfix">
                
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn" style = "color:rgb(187, 8, 8);background:transparent">Annuler</button>
                <h1>   </h1>
                <button type="submit" class="signupbtn"style = "color:rgb(187, 8, 8);background:transparent">Se Connecter
</button>
              </div>
            </div>
            <div class="container signin" style = "width:100%;background-color: white;">
                <p style = "color:rgb(187, 8, 8);font-family:Recursive, sans-serif;">Créer un compte? <a href="/signUp">S'inscrire</a>.</p>
            </div>
          </form>
        </div>

        <script>
            var modal = document.getElementById('id01');
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }

            let hero = document.querySelector("span.uniqueDoctor")
            hero.onmouseover = function(){
                hero.innerHTML = "Héros";
                hero.style.color = "rgb(187, 8, 8)";

            }
            hero.onmouseout = function (){
                hero.innerHTML = "Les Médecins";
                hero.style.color = "white";

            }
        </script>
        
        <script>
            //Variable that actually performs the text to speech
                var synth = window.speechSynthesis;
                
                //If we want a form or input of text to be converted to speech
                //Used this for initial coding tests; keep for future debugging
                //var inputForm = document.querySelector('form');
                //var inputTxt = document.querySelector('.txt');
                
                //var voiceSelect = document.querySelector('select');
                
                //var pitch = document.querySelector('#pitch');
                var pitchValue = 1 //Subject to change
                //var rate = document.querySelector('#rate');
                var rateValue = 0.8 //Subject to change
                
                var voices = [];
                
                function populateVoiceList()
                {
                voices = synth.getVoices().sort(function (a, b)
                {
                    const aname = a.name.toUpperCase(), bname = b.name.toUpperCase();
                    if ( aname < bname ) return -1;
                    else if ( aname == bname ) return 0;
                    else return +1;
                    //Was for internal purposes of alphabetizing voices
                }
                );
                
                //Additional functionality of having a choice of the different voices (accents) if needed
                
                //var selectedIndex = voiceSelect.selectedIndex < 0 ? 0 : voiceSelect.selectedIndex;
                //voiceSelect.innerHTML = '';
                // for(i = 0; i < voices.length ; i++) {
                //   var option = document.createElement('option');
                //   option.textContent = voices[i].name + ' (' + voices[i].lang + ')';
                    
                //   if(voices[i].default) {
                //     option.textContent += ' -- DEFAULT';
                //   }
                
                //   option.setAttribute('data-lang', voices[i].lang);
                //   option.setAttribute('data-name', voices[i].name);
                //   voiceSelect.appendChild(option);
                // }
                // voiceSelect.selectedIndex = selectedIndex;
                }
                
                populateVoiceList();
                if (speechSynthesis.onvoiceschanged !== undefined)
                {
                speechSynthesis.onvoiceschanged = populateVoiceList;
                }
                
                function speak(elmt){
                    if (synth.speaking)
                    {
                        console.error('speechSynthesis.speaking');
                        return;
                    }
                    if (elmt !== '')
                    {
                    //Just calling this var utterance b/c of the class name lmao
                    var utterance = new SpeechSynthesisUtterance(elmt);
                    utterance.onend = function (event)
                    {
                        console.log('SpeechSynthesisUtterance.onend');
                    }
                    utterance.onerror = function (event)
                    {
                        console.error('SpeechSynthesisUtterance.onerror');
                    }
                    //Removed this line afterward since we are sticking with one fixed voice
                    //var selectedOption = voiceSelect.selectedOptions[0].getAttribute('data-name');
                    for(i = 0; i < voices.length ; i++)
                    {
                    if(voices[i].lang === "fr-FR")
                    {
                        utterance.voice = voices[i];
                        break;
                    }
                    }
                    utterance.pitch = pitchValue;
                    //Setting the rate to fixed at 0.85 so people less comfortable with English can hear but it isn't too slow
                    utterance.rate = rateValue;
                    synth.speak(utterance);
                }
                }
                
                // inputForm.onsubmit = function(event) {
                //   event.preventDefault();
                
                //   speak();
                
                //   inputTxt.blur();
                // }
                //For if we want to give them the option of pitch/rate
                // pitch.onchange = function() {
                //   pitchValue.textContent = pitch.value;
                // }
                
                // rate.onchange = function() {
                //   rateValue.textContent = rate.value;
                // }
                //For aforementioned functionality of choosing voice/accent
                // voiceSelect.onchange = function(){
                //   speak();
                // }
            </script>


        <script>


            const password = document.querySelector(".password-input");
            const input = password.querySelector(".field");
            const toggleIcon = document.querySelector(".eyes");

            toggleIcon.addEventListener("click", () => {
            let current = password.getAttribute("data-status");

            password.setAttribute(
                "data-status",
                current === "hidden" ? "revealed" : "hidden"
            );
            input.setAttribute("type", current === "hidden" ? "text" : "password");
            if(input.getAttribute("data-shown") == 0){
                input.style.color =  "white";
                input.setAttribute("data-shown", 1);
            }else{
                input.style.color =  "rgb(187, 8, 8)";
                input.setAttribute("data-shown", 0);
            }
            });

        </script>
        <script>

        let dropD = document.getElementById("diffLang");
        function changeLang(element){
            if(dropD.options[dropD.selectedIndex].innerHTML == "English"){
                document.location.replace("/");
            }else if(dropD.options[dropD.selectedIndex].innerHTML ==  "Swahili"){
                document.location.replace("landSW");
            }
        }
        </script>
    </body>
</html>

