<!DOCTYPE html>

<html lang="en">
	<head>
		<title>HackForAfrica</title>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/schedule.css') }}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">HackForAfrica</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="#book">Book Appointment</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#calendar">Calendar</a>
					</li>
				</ul>
			</div>
		</nav>

		<section id="book" style="padding: 2%;text-align: center">
			<h1>Book Appointment</h1>
			<form style="margin: 2% 30%;">
				<div class="form-group">
					<label for="inputEmail">Email</label>
					<input type="email" class="form-control" id="inputEmail" placeholder="Email">
				</div>
				<div class="row">
					<div class="col">
						<label for="date">Date</label>
						<input id="date" type="date" class="form-control" placeholder="First name">
					</div>
					<div class="col">
						<label for="time">Time</label>
						<input id="time" type="time" class="form-control" placeholder="Last name">
					</div>
				</div>
				<br>
				<div class="form-group">
    				<label for="Description">Describe Your Condition</label>
   					<textarea class="form-control" id="Description" rows="3"></textarea>
  				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</section>

		<section id="calendar" style="padding: 2%; text-align: center">
			<h1>Appointments</h1>
			<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FPhoenix&amp;src=bjhubzNraDN0ZDI0ZGlubmdrNjg1OTRyMW9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%239E69AF&amp;showTitle=0&amp;showDate=0&amp;showPrint=0&amp;showNav=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=1" style="border:none" width="80%" height="800" frameborder="0" scrolling="no"></iframe>		
		</section>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>

</html>
